   .form-page {
     height: 80vh;
   }
  .form {
    margin: 10px;
    
  };

  @media only screen and (min-width: 765px)  { 
    .form {
      margin: 20px;
    }
  }
  
  
  @media only screen and (min-width:1075px) {
  .form {
    margin: 20px;
  }
  }