
  .form {
    margin: 20px;
  };

  @media only screen and (min-width: 765px)  { 
    .form {
      margin: 80px;
      /* width */
    }
  }
  
  
  @media only screen and (min-width:1075px) {
  .form {
    margin: 40px;
  }
  }