/* GetNpc.jsx */
.npc-style {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* margin-top: 30px; */
}

.person {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 300px;
  margin-left: 300px;
}

.name,
.job
.race,
.sex {
  
  font-size: 15px;
}

/* .rp{

} */

.description,
.hook {
  word-wrap: break-word;
  font-size: 5px;
}

@media only screen and (min-width: 600px) {
  .npc-style {
    margin-top: -200px;
    margin-left: 300px;
    overflow: hidden;
  }

  .description,
  .hook {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1075px) {
  .npc-style {
    margin-top: -140px;
    margin-left: 240px;
  }
}
