
.get-npc-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.npc-info {
  border: solid black;
  padding: 15px;
  width: 300px;
  background-color: white;
  justify-content: space-between;
  font-size: 12px;
  
}

.name,
.job,
.race,
.sex { 
  font-size: 15px;
}

.description,
.hook {
  word-wrap: break-word;
  font-size: 5px;
}

@media only screen and (min-width: 600px) {
  .get-npc-page{
    margin-top: -200px;
    margin-left: 300px;
    overflow: hidden;
  }

  .description,
  .hook {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1075px) {
  .get-npc-page{
    margin-top: -140px;
    margin-left: 240px;
  }
}
