/* GetNpc.jsx */
.npc-style  {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
 
};

 .info {
  word-break: break-all;
 
  font-size: 12px;
  overflow: scroll;
}


@media only screen and (min-width:600px)  { 
.npc-style{
  margin-top: 00px;
  margin-left: 300px;
}
}


@media only screen and (min-width:1075px) {
  .npc-style{
    margin-top: -200px;
    margin-left: 900px;
  }
}