/* App.js */

 .body{
  display: flex;
  flex-direction: column;
  /* background-color: #333; */
  height: 100vh;
  padding: 30px;
  text-align: center;
};

 .paper {
  background-color: #fff;
  height: 100vh;
}; 

 .header-style  {
  text-Align: center;
  display: flex;
  flex-direction: column;
};



 .main-style  {
  display: flex;
  flex-direction: column;
  text-align: center;
};













@media only screen and (min-width:600px)  { 

}


@media only screen and (min-width:1075px) {

}
